<section>
  <div class="container">
    <h2>Development skills</h2>
    <div class="row">
      <article>
        <h3>Web design</h3>
        <div class="techIcons">
          <i class="fa fa-html5"></i>
          <i class="fa fa-css3"></i>
          <i class="fa fa-desktop"></i>
          <i class="fa fa-id-card"></i>
          <i class="fa fa-id-badge"></i>
          <i class="fa fa-picture-o"></i>
        </div>
        <ul>
          <li>Standards W3C and WHATWG</li>
          <li>Valid and clean code</li>
          <li>Correct interpretation of the layout</li>
          <li>Adaptability and cross-browser compatibility</li>
          <li>SCSS</li>
          <li>Bootstrap</li>
          <li>Angular Material</li>
        </ul>
      </article>
      <article>
          <h3>JS/TS</h3>
          <div class="techIcons">
            <i class="fa fa-file-code-o"></i>
            <i class="fa fa-stack-overflow"></i>
            <i class="fa fa-cubes"></i>
            <i class="fa fa-window-restore"></i>
          </div>
          <ul>
            <li>ES v.5 & v.6</li>
            <li>AJAX</li>
            <li>Inheritance encapsulation and polymorphism</li>
          </ul>
        </article>
    </div>
  </div>
</section>
