<section>
  <div class="container">
    <h2>Development skills</h2>
    <div class="row">
      <article class="col-md-12 d-flex justify-content-center">
        <div class="skill-image web-dew"></div>

        <div class="skill-description">
          <div class="techIcons">
            <i class="fa fa-id-card fa-2x"></i>
            <i class="fa fa-id-badge fa-2x"></i>
            <i class="fa fa-picture-o fa-2x"></i>
            <i class="fa fa-bold fa-2x"></i>
          </div>

          <h3>Web design</h3>
          <ul>
            <li>Standards W3C and WHATWG</li>
            <li>Valid and clean code</li>
            <li>Correct interpretation of the layout</li>
            <li>Adaptability and cross-browser compatibility</li>
            <li>SCSS</li>
            <li>Bootstrap</li>
          </ul>
        </div>
      </article>
      <article class="col-md-12 d-flex justify-content-center">
        <div class="skill-image js"></div>

        <div class="skill-description">
          <div class="techIconsReverse">
            <i class="fa fa-file-code-o fa-2x"></i>
            <i class="fa fa-stack-overflow fa-2x"></i>
            <i class="fa fa-cubes fa-2x"></i>
            <i class="fa fa-window-restore fa-2x"></i>
          </div>

          <h3>JS/TS</h3>
          <ul>
            <li>ES v.5 & v.6</li>
            <li>DOM</li>
            <li>AJAX</li>
            <li>Closures</li>
            <li>Basic knowledge of OOP</li>
            <li>WebPack ang Gulp</li>
            <li>Design patterns</li>
          </ul>
        </div>
      </article>
      <article class="col-md-12 d-flex justify-content-center">
        <div class="skill-image angular"></div>

        <div class="skill-description">
          <div class="techIcons justify-content-between">
            <i class="fa fa-google fa-2x"></i>
            <img
              class="pngIcon"
              src="assets/images/angular.png"
              alt="Angular icon"
            />
            <img
              class="pngIcon"
              src="assets/images/angular-material-white-transparent.png"
              alt="Angular Material Icon"
            />
            <img
              class="pngIcon"
              src="assets/images/Material Design - l.png"
              alt="Material Design"
            />
          </div>

          <h3>Angular</h3>

          <ul>
            <li>Angular v.8</li>
            <li>Architecture</li>
            <li>Routing and navigation</li>
            <li>Basic animation</li>
            <li>Security</li>
            <li>Angular Material</li>
            <li>Material Design</li>
          </ul>
        </div>
      </article>
      <article class="col-md-12 d-flex justify-content-center">
        <div class="skill-image dew-tools"></div>

        <div class="skill-description">
          <div class="techIconsReverse">
            <i class="fa fa-github-square fa-2x"></i>
            <i class="fa fa-linux fa-2x"></i>
            <i class="fa fa-slack fa-2x"></i>
            <i class="fa fa-font-awesome fa-2x"></i>
          </div>

          <h3>Additional skills</h3>
          <ul>
            <li>Git</li>
            <li>Basic Linux User</li>
            <li>Connecting fonts and plugins</li>
            <li>Slack and Trello</li>
            <li>Photoshop</li>
            <li>1C</li>
            <li>Basic SSMS</li>
          </ul>
        </div>
      </article>
      <div class="col-md-12 text-center">
        <div class="nextChapter">
          <a
            routerLink="/projects"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Watch my projects
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
