.skills_styler {
  background-color: #313131;
  /* height: calc(100vh - 163px); */
  height: 530px;
  overflow: hidden;
}

.skills_styler h2 {
  color: #daa34a;
  text-align: center;
  margin: 35px 0 45px;
}

.image-wrapper {
  overflow: hidden;
  height: 380px;
}
.image-wrapper img {
  display: block;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
  filter: sepia(30%) contrast(110%);
}

.image-wrapper img[alt='Simple lending page'] {
  background-color: #e0a607ef;
}

.overlay {
  padding: 5px 20px;;
  color:#ead4b2;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(47, 47, 47, 0.92);
  border-radius: 3px;
}

.overlay ul {
  margin-bottom: 0;
}

.overlay li {
  font-family: 'Timmana', sans-serif;
  font-size: 17px;
  text-align: start;
}

.overlay a {
  font-family: 'Courgette', sans-serif;
  margin-top: 10px;
  color: #5ddacf;
}

.image-wrapper:hover .overlay {
  opacity: 10;
}

.text {
  font-family: 'Merienda One', cursive;
  margin-top: 10px;
  color: #ead4b2;
  font-size: 20px;
  text-align: center;
}

.full_width {
  padding-top: 10px;
}

div.full_width div.owl-carousel div.owl-nav {
  position: absolute;
  top: 15px;
  right: 20px;
  background: #c9c5c5
}

@media (min-width: 768px) {
  .full_width {
    margin-top: 10vh;
    padding-top: 30px;
  }

  .skills_styler {
    height: calc(100vh - 150px);
  }
}
