<section class= "skills_styler">
      <h2>Completed educational projects</h2>
      <div class="full_width">
        <div class="owl-carousel">
          <div class="image-wrapper">
            <a href="https://shevchukoleg.github.io/Home-Work-Tomas-Rithm-/">
              <img src="./../../../../assets/images/For_carusel_projects/1 Tomas-Rithm/web-design.png" alt="Simple lending page">
            </a>
          </div>
          <div class="image-wrapper">
            <a href="https://shevchukoleg.github.io/News-AJAX-/">
              <img src="./../../../../assets/images/For_carusel_projects/7 news/news.gif" alt="News aggregator">
            </a>
          </div>
          <div class="image-wrapper">
            <a href="https://shevchukoleg.github.io/Project-to-do-list/index.html">
              <img src="./../../../../assets/images/For_carusel_projects/4 todo list/todo list 2.jpg" alt="Self managment helper">
            </a>
          </div>
          <div class="image-wrapper">
            <a href="https://shevchukoleg.github.io/Chat/index.html">
              <img src="./../../../../assets/images/For_carusel_projects/2 Chat/Chat.jpg" alt="Chat prototype">
            </a>
          </div>
          <div class="image-wrapper">
            <a href="https://shevchukoleg.github.io/Commercial-website-sass-gulp4-/index.html">
              <img src="./../../../../assets/images/For_carusel_projects/3 e-commerse/commersial_site.jpg" alt="Elements of e-commerse website">
            </a>
          </div>
          <div class="image-wrapper">
            <a href="https://shevchukoleg.github.io/JS-Budget/">
              <img src="./../../../../assets/images/For_carusel_projects/5 budjet/payroll-processing.jpg" alt="Simple budget website">
            </a>
          </div>
          <div class="image-wrapper">
            <a href="https://shevchukoleg.github.io/JS-Timer/index.html">
              <img src="./../../../../assets/images/For_carusel_projects/6 timer/timer.jpg" alt="JS practice with time measurement">
            </a>
          </div>
        </div>
      </div>
</section>