<section class= "skills_styler">
  <h2>My educational projects</h2>
  <div class="full_width">
    <div class="owl-carousel">
      <div class="image-wrapper">
        <img src="./../../../../assets/images/For_carusel_projects/1 Tomas-Rithm/web-design.png" alt="Simple lending page">
        <div class="overlay">
          <h3 class="text-center mt-2">Simple landing page</h3>
          <p class="text">Techniques:</p>
          <ul>
            <li>Add third-party fonts and Icons</li>
            <li>Use of scripts Isotop and Owl-carousel</li>
            <li>Manual grid adjustment</li>
            <li>Float and flex positioning of elements</li>
            <li>The adaptability of layout --@media--</li>
            <li>Adjust the positions and sizes of images and backgrounds</li>
            <li>Basic css animation</li>
            <li>Google Maps integration</li>
          </ul>
          <a href="https://shevchukoleg.github.io/Home-Work-Tomas-Rithm-/" target="_blank">To project</a>
          <a class="git-link" href="https://github.com/ShevchukOleg/Home-Work-Tomas-Rithm-" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="image-wrapper">
        <img src="./../../../../assets/images/For_carusel_projects/7 news/news.gif" alt="News aggregator">
        <div class="overlay">
          <h3 class="text-center mt-2">News agrigator, JS practice</h3>
          <p class="text">Techniques:</p>
          <ul>
            <li>Materialize CSS</li>
            <li>JS AJAX practice</li>
            <li>Modularity of the application</li>
            <li>Adjusted forms for sending data</li>
            <li>Work with DOM and events</li>
          </ul>
          <a href="https://shevchukoleg.github.io/News-AJAX-/" target="_blank">To project</a>
          <a class="git-link" href="https://github.com/ShevchukOleg/News-AJAX-" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="image-wrapper">
        <img src="./../../../../assets/images/For_carusel_projects/4 todo list/todo list 2.jpg" alt="Self managment helper">
        <div class="overlay">
          <h3 class="text-center mt-2">TODO aplication</h3>
          <p class="text">Techniques:</p>
          <ul>
            <li>The project powered by Gulp-4</li>
            <li>Layout on Bootstrap, without manual CSS</li>
            <li>Split messages</li>
            <li>JS correctness check of the form fields</li>
            <li>Search the data in the internal database</li>
            <li>Random generator ID of tasks</li>
            <li>Adding and removing DOM elements</li>
          </ul>
          <a href="https://shevchukoleg.github.io/Project-to-do-list/index.html" target="_blank">To project</a>
          <a class="git-link" href="https://github.com/ShevchukOleg/Project-to-do-list" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="image-wrapper">
        <img src="./../../../../assets/images/For_carusel_projects/2 Chat/Chat.jpg" alt="Chat prototype">
        <div class="overlay">
          <h3 class="text-center mt-2">SCSS practice, without JS</h3>
          <p class="text">Techniques:</p>
          <ul>
            <li>Gulp 4</li>
            <li>SCSS compiled and minified to CSS</li>
            <li>Using Fontawesome webfont</li>
            <li>Adaptability with hiding user interface elements</li>
            <li>Using two modes: of day and night</li>
            <li>Non-standard geometric shapes on CSS</li>
            <li>Flex-box for rubber layout</li>
          </ul>
          <a href="https://shevchukoleg.github.io/Chat/index.html" target="_blank">To project</a>
          <a class="git-link" href="https://github.com/ShevchukOleg/Chat" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="image-wrapper">
        <img src="./../../../../assets/images/For_carusel_projects/3 e-commerse/commersial_site.jpg" alt="Elements of e-commerse website">
        <div class="overlay">
          <h3 class="text-center mt-2">Bootstrap practice</h3>
          <p class="text">Techniques:</p>
          <ul>
            <li>Bootstrap 4</li>
            <li>SCSS core modules modification</li>
            <li>Create duplicate site elements</li>
            <li>Gulp-4</li>
            <li>Complex informative header</li>
            <li>Adaptability</li>
          </ul>
          <a href="https://shevchukoleg.github.io/Commercial-website-sass-gulp4-/index.html" target="_blank">To project</a>
          <a class="git-link" href="https://github.com/ShevchukOleg/Commercial-website-sass-gulp4-" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="image-wrapper">
        <img src="./../../../../assets/images/For_carusel_projects/5 budjet/payroll-processing.jpg" alt="Simple budget website">
        <div class="overlay">
          <h3 class="text-center mt-2">Java Script practice</h3>
          <p class="text">Techniques:</p>
          <ul>
            <li>Simple budget calculator</li>
            <li>JavaScript operations with DOM elements</li>
            <li>Internal database of cash transactions</li>
            <li>Integration of JS id into "data- attributes"</li>
            <li>Automatic recalculation when the database changes</li>
          </ul>
          <a href="https://shevchukoleg.github.io/JS-Budget/" target="_blank">To project</a>
          <a class="git-link" href="https://github.com/ShevchukOleg/JS-Budget" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="image-wrapper">
        <img src="./../../../../assets/images/For_carusel_projects/9_bekeyTest/western_compressed.jpg" alt="Test project">
        <div class="overlay">
          <h3 class="text-center mt-2">BeKey test-project</h3>
          <p class="text ">Techniques:</p>
          <ul>
            <li>Angular material modal window</li>
            <li>Angular reactive forms</li>
            <li>Angular routing</li>
            <li>State data saving</li>
            <li>Angular pipes</li>
            <li>Styled with: SCSS, Bootstrap and AM</li>
          </ul>
          <a href="https://bekey-test-project.herokuapp.com/" target="_blank">To project</a>
          <a class="git-link" href="https://github.com/ShevchukOleg/Texas-Pilice-App" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="image-wrapper">
        <img src="./../../../../assets/images/For_carusel_projects/10_VocterTeamTest//Film-service_02_compressed.jpg" alt="Simple lending page">
        <div class="overlay">
          <h3 class="text-center mt-2">Movie service</h3>
          <p class="text">Techniques:</p>
          <ul>
            <li>Angular</li>
            <li>ngx-owl-carousel-o</li>
            <li>ngx-swiper-wrapper</li>
            <li>Only 1366 px resolution</li>
            <li>Layout on SCSS cccording PSD</li>
            <li>Slider view controls</li>
            <li>Filtering data throu pipe</li>
          </ul>
          <a href="https://movie-viewing-service.herokuapp.com" target="_blank">To project</a>
          <a class="git-link" href="https://github.com/ShevchukOleg/DjangirovTest" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="image-wrapper">
          <img src="./../../../../assets/images/For_carusel_projects/11_ITCraftTest/sahop-site_compressed.jpg" alt="Simple lending page">
          <div class="overlay">
            <h3 class="text-center mt-2">Comersial logic</h3>
            <p class="text">Techniques:</p>
            <ul>
              <li>Angular</li>
              <li>Angular material library</li>
              <li>Minimal design/styling</li>
              <li>RouterModule</li>
              <li>ReactiveForms</li>
              <li>Local user data keeping</li>
              <li>Filtering data through pipe</li>
              <li>Password: 8ch. (0-9,A-Z,a-z, special characters)</li>
            </ul>
            <a href="https://itcraft-test.herokuapp.com/" target="_blank">To project</a>
            <a class="git-link" href="https://github.com/ShevchukOleg/ITCraftTest" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          </div>
        </div>
      <div class="image-wrapper">
        <img src="./../../../../assets/images/For_carusel_projects/6 timer/timer.jpg" alt="JS practice with time measurement">
        <div class="overlay">
          <h3 class="text-center mt-2">Timer on JS</h3>
          <p class="text ">Techniques:</p>
          <ul>
            <li>Time measurement methods in JS</li>
            <li>JavaScript oterations with DOM elements</li>
            <li>Gulp-4</li>
            <li>SCSS</li>
            <li>Work with the lexical environment of a function</li>
            <li>Based on setTimeout and setInterval functions</li>
          </ul>
          <a href="https://shevchukoleg.github.io/JS-Timer/index.html" target="_blank">To project</a>
          <a class="git-link" href="https://github.com/ShevchukOleg/JS-Timer" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>