header {
  font-family: 'Lato', sans-serif;
  color: #ead4b2;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  background-image: url("../../../../assets/images/images/H2_compressed.jpg");
  /* background-color: rgba(47, 47, 47, 0.8); */
  background-size: cover;
  background-position: center;
  /* box-shadow: 0 0 10px 5px rgba(104, 102, 102, 0.8); */
  overflow: hidden;
}

header ul.main_navigation {
  padding: 0px 10px;
  display: none;
}

h1 {
  font-family: 'Russo One', sans-serif;
  margin-bottom: 0;
}

a {
  z-index: 10;
  text-decoration: none;
}



ul li {
  font-size: 20px;
  text-align: center;
}

.merienda {
  font-family: 'Merienda One', cursive;
}

.headerInner {
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.toggle-button {
  cursor: pointer;
  width: 26px;
  margin: 10px auto;
}

.toggle-button.tb-active {
  margin: 10px 0 0 auto ;
}

.toggle-button-element {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ead4b2;
  transition: 0.3s;
}

.toggle-button-element:nth-of-type(2) {
  width: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.toggle-button:hover .toggle-button-element {
  background-color: #ffc353;
}

.toggle-button.tb-active .toggle-button-element:nth-of-type(1) {
  transform: translatey(8px) rotate(45deg);
  background-color: #fa824a;
}

.toggle-button.tb-active .toggle-button-element:nth-of-type(2) {
  opacity: 0;
}

.toggle-button.tb-active .toggle-button-element:nth-of-type(3) {
  transform: translatey(-8px) rotate(-45deg);
  background-color: #fa824a;
}

.personalInfo {
  min-width: 220px;
  margin: 5px;
  overflow: hidden;
}

.personalInfo ul {
  margin-bottom: 0;
}

.personalInfo .simpleLink {
  font-family: 'Courgette', sans-serif;
  font-size: 16px;
}

/* ---------------------------New version ---------------------------------------------- */

h1 {
  font-size: 22px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0px 10px;
}

.container h2.name {
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.container h2.name + span {
  font-size: 12px;
  text-align: end;
}

.container a {
  color: #ead4b2;
  font-size: 16px;

}

.container a:hover {
  color: #ffc353;
  transition: 0.4s;
}

.container a:active {
  color: #f1f8c6;
}
/* --------------------@media----------------------------------------------------- */

@media (min-width: 360px) {
}

@media (min-width: 992px) {
  h1 {
    font-size: 28px;
  }

  .headerInner {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .container h2.name {
    text-align: end;
    font-size: 19px;
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  .toggle-button {
    visibility: hidden;
    height: 0;
    margin: 0;
  }

  header ul.main_navigation {
    display: flex;
  }
}
