header {
  font-family: 'Lato', sans-serif;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  /* background-image: url("../../../../assets/images/header-background.jpg"); */
  background-color: rgba(47, 47, 47, 0.8);
  /* background-size: cover;
  background-position: center; */
  box-shadow: 0 0 10px 5px rgba(104, 102, 102, 0.8)
}
header ul.main_navigation {
  padding: 0px 10px;
  margin: 0;
  display: none;
}

a {
  z-index: 10;
  text-decoration: none;
}

h1 {
  font-size: 22px;
  white-space: nowrap;
  padding: 0px 10px;
}

ul li {
  font-size: 20px;
  text-align: center;
}

.merienda {
  font-family: 'Merienda One', cursive;
}


.headerInner {
  color: #ead4b2;
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.headerInner a {
  color: #ead4b2;
}

.headerInner a:hover {
  color: #ffc353;
  transition: 0.4s;
}

.headerInner a:active {
  color: #f1f8c6;
}

/* .avatar {
  object-fit: cover;
  width: 35%;
  height: auto;
  max-height: 100%;
  margin: 5px;
  border-radius: 18px;
} */

.toggle-button {
  cursor: pointer;
}

.toggle-button-element {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ead4b2;
  transition: 0.3s;
}

.toggle-button-element:nth-of-type(2) {
  width: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.toggle-button:hover .toggle-button-element {
  background-color: #ffc353;
}

.toggle-button.tb-active .toggle-button-element:nth-of-type(1) {
  transform: translatey(8px) rotate(45deg);
}

.toggle-button.tb-active .toggle-button-element:nth-of-type(2) {
  opacity: 0;
}

.toggle-button.tb-active .toggle-button-element:nth-of-type(3) {
  transform: translatey(-8px) rotate(-45deg);
}

.personalInfo {
  min-width: 220px;
  margin: 5px;
  overflow: hidden;
}

.personalInfo ul {
  margin-bottom: 0;
}

.personalInfo .simpleLink {
  font-family: 'Courgette', sans-serif;
  font-size: 16px;
}

/* .mainNavigation ul {
  display: flex;
	justify-content: space-between;
	align-items: center;
} */


@media (min-width: 360px) {
}

@media (min-width: 1024px) {
  h1 {
    font-size: 28px;
  }

  .headerInner {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .toggle-button {
    visibility: hidden;
  }

  header ul.main_navigation {
    display: flex;
    }
}
