.footer_decoration {
  background: rgba(47, 47, 47, 0.8);
  box-shadow: 0 0 10px 5px rgba(104, 102, 102, 0.8);
  color: #ead4b2;
  box-sizing: border-box;
}

img {
  object-fit: cover;
  width: 35%;
  max-width: 45px;
  height: auto;
  max-height: 100%;
  margin: 0;
  border-radius: 3px;
}

p + a {
  font-family: 'Courgette', sans-serif;
  margin-top: 10px;
  color: #5ddacf;
  text-decoration: none;
}