<section>
  <div class="container">
    <div class="row  justify-content-center">
      <div class="col-12 mt-lg-3">
        <h2 class="text-left">About Me</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="mt-lg-3 mb-md-5 d-md-flex justify-content-center">
          <figure class="avatar">
            <img src="../../../../assets/images/truth.jpg" alt="My photo">
          </figure>
          <div>
              <p class="self_info">
                Just another guy, who learned to typeset sites and imagines himself a programmer. Most of all I want to get into the company of conscientious, intelligent and hardworking people. I`m ready to work tirelessly, to lift up the team spirit and constantly become acquainted with new technics.
              </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-left">Work experience</h2>

        <div class="exp_item">
          <div class="period">
            <span>03/2018</span>
            <span>05/2017</span>
          </div>
          <div class="separator">
          </div>
          <div class="job-description-right">
            <h4>Consortium "Vostock"</h4>
            <p>Post: Director Assistant , Marketer</p>
            <ul>
              <li>
                Marketing research
              </li>
              <li>
                Tendering
              </li>
              <li>
                  Creating Trading Strategies
              </li>
              <li>
                  Updating data on sites through CMS
              </li>
              <li>
                  Participation in financial audit
              </li>
            </ul>

          </div>
        </div>

        <div class="exp_item">

            <div class="period">
              <span>06/2016</span>
              <span>03/2014</span>
            </div>

            <div class="separator">
            </div>

            <div class="job-description-left">

              <h4>Offre & Demande Agricole</h4>
              <p>Post: Market Analyst</p>
              <ul>
                <li>
                    Analysis of agricultural markets
                </li>
                <li>
                  Publication of research and trading strategies
                </li>
                <li>
                    Customer relationship management
                </li>
                <li>
                    Updating data on sites through CMS
                </li>
                <li>
                    Translation and adaptation of foreign articles from French and English
                </li>
                <li>
                    Applied research on the state of crops in Ukraine
                </li>
              </ul>

            </div>
        </div>

        <div class="exp_item">
            <div class="period">
              <span>02/2014</span>
              <span>09/2013</span>
            </div>
            <div class="separator">
            </div>
            <div class="job-description-right">
              <h4>Kharkiv Chamber of Commerce</h4>
              <p>Post: Economist</p>
              <ul>
                <li>
                  Preparation of economic reports
                </li>
                <li>
                  Market research
                </li>
                <li>
                  Participation in the development of corporate identity and website
                </li>
              </ul>

            </div>
        </div>

        <div class="exp_item">
            <div class="period">
              <span>02/2014</span>
              <span>09/2013</span>
            </div>
            <div class="separator">
            </div>
            <div class="job-description-left">
              <h4>Trilan promo</h4>
              <p>Post: SEO analist</p>
              <ul>
                <li>
                  Customer support
                </li>
                <li>
                  Search for regional market clients
                </li>
                <li>
                  Analysis of site promotion potential
                </li>
              </ul>

            </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <h2 class="text-left">
          Education
        </h2>
        <ul class="schools">
          <li>
            <p>V. N. Karazin Kharkiv National University</p>
            <p>Specialty: Economic theory</p>
          </li>
          <li>
            <p>Military chair at the Ivan Kozhedub Kharkiv National University of the Air Force</p>
            <p>Specialty: Maintenance of aircraft electronic systems</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
