section {
  background-color: #313131;
}

p {
  margin-bottom: 0;
}

h2:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  background: #ead4b2;
  left: -80px;
  top: 52px;
  opacity: 0.2;
}

.avatar {
  z-index: 20;
  text-align: center;
}

.avatar img {
  height: 200px;
  width: 160px;
  object-fit: cover;
  border-radius: 6px;
}

.self_info {
  position: relative;
  z-index: 5;
  width: calc(100vw - 30px);
  margin-bottom: 0;
  background-color: #464646;
  color: #cbb593 ;
  border-radius: 6px;
  padding: 10px;
  letter-spacing: 0.3px;
  font-weight: 600;
  line-height: 28px;
  font-size: 19px;
  text-align: justify;
  text-indent: 20px;
}

.separator {
  visibility: hidden;
}

.exp_item {
  color: #ead4b2;
  margin-left: -10px;
  margin-right: -10px;
}

.exp_item div[class^="job-description"] {
  border-radius: 10px;
  position: relative;
  background: #464646;
  padding: 12px 10px;
}

.job-description-left, .job-description-right  {

}

.job-description-left h4, .job-description-right h4 {
  color: #ffc353;
  font-weight: 800;
  text-align: center;
}


div[class^="job-description"] p {
  margin-bottom: 5px;
  color: #cbb593;
  font-size: 18px;
  font-weight: 600;
}

div[class^="job-description"] li {
  font-weight: 500;
}

.period {
  display: flex;
  margin: 10px 0;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding:15px 20px 5px;
}

.period span {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffc353;
  margin: 5px 10px;
  padding: 2px 20px;
  border-radius: 5px;
  color: #313131;
  height: 30px;
}

.schools {
  font-family: 'Merienda One', cursive;
  color: #ead4b2;
  margin-top: 25px;
}

.schools li {
  margin-bottom: 20px;
}

.schools p:first-child {
  font-weight: 600;
  text-align: justify;

}

.schools p:last-child {
  color: #ffc353;
  margin-bottom: 0;

}

@media(min-width: 540px) {
  .self_info{
    width: 80vw;
  }

  .exp_item {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .exp_item:nth-of-type(2n) {
    flex-flow: row-reverse nowrap;
  }

  .period {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px 20px;
  }


  .job-description-right, .job-description-left {
    width: 60%;
  }

}

@media(min-width: 768px) {
  .self_info{
    width: 500px;
    border-radius: 0;
    background: transparent;
    padding: 67px 35px 5px 15px;
    font-size: 20px;
  }


  .self_info:after {
    content: "";
    position: absolute;
    left: -40px;
    top: 44px;
    width: 540px;
    height: 280px;
    background-color: #464646;
    border-radius: 6px;
    z-index: -1;

  }

  .exp_item {
    margin-bottom: 0;
  }

  .exp_item:first-of-type {
    margin-top: 10px;
  }

  .exp_item:last-of-type {
    margin-bottom: 25px;
  }

  .separator {
    visibility: visible;
    width:4px;
    border: 2px solid #ead4b2;
    margin: 0 30px;
  }

  h2:before {
    width: 400px;
    left: -400px;
    top: 52px;
  }

  .avatar img {
    height: 280px;
    width: 240px;
    object-fit: cover;
  }

  .exp_item div[class^="job-description"] {
    width: 35vw;
    max-width: 530px;
    padding: 12px 15px;
  }

  .period {
    width: 35vw;
    max-width: 530px;
  }

  .job-description-left:before {
    content: "";
    position: absolute;
    right: -68px;
    top: calc(50% - 39px);
    border: 39px solid transparent;
    border-left: 30px solid #464646;
    display: block;
    width: 0;
    height: 0;
  }

  .job-description-right:before {
    content: "";
    position: absolute;
    left: -67px;
    top: calc(50% - 39px);
    border: 39px solid transparent;
    border-right: 30px solid #464646;
    display: block;
    width: 0;
    height: 0;
  }
}
