/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

html, body {
  height: 100%;
}

body { margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

li {
  list-style-type: none;
}

h1 {
  font-family: 'Merienda One', cursive;
}

ol,
ul,
dl {
  padding-inline-start: 0px;
}

.telNumber {
  text-align: center;
  font-family: 'Timmana', sans-serif;
  font-size: 18px;
}

.container h2 {
  text-align: center;
  padding: 15px;
  margin: 15px 0 10px;
  color: #daa34a;
}

article {
  font-size: 16px;
  overflow: hidden;
}

.nextChapter {
  position: relative;
}

.nextChapter:hover a:after {
  transition: 0.4s;
  margin-left: 10px;
  content: "\21D2";
}

.nextChapter a {
  color: #daa34a;
}

.nextChapter a:hover {
  transition: 0.4s;
  color: #ffc353;
  text-decoration: none;

}

div.full_width div.owl-carousel div.owl-nav {
  visibility: hidden;
}

div.full_width div.owl-carousel div.owl-nav button[type='button'] {
  color:#e1c292;
  font-size: 28px;
  font-family: auto;
  height: 50px;
  width: 50px;
  background: #1a1919;
  border-radius: 8px;
  margin: 5px;
  outline-color: #080807;

}

div.full_width div.owl-carousel div.owl-nav button[type='button']:hover {
  background: #080807;
}

div.full_width div.owl-carousel div.owl-dots {
  position: absolute;
  top: -28px;
  left: calc(0.1*100vw);
  width: 80%;
  height: 6px;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  outline-color: transparent;
}

div.full_width div.owl-carousel div.owl-dots button[class='owl-dot active'] {
  background: #af946c;
  height: 4px;
  width: 15%;
  border-radius: 2px;
  transition: 0.1s;
  outline-color: transparent;
 }


div.full_width div.owl-carousel div.owl-dots button[class='owl-dot'] {
  height: 4px;
  width: 15%;
  background: #e1c292;
}

@media(min-width: 740px) {
  .nextChapter{
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 1024px) {
  div.full_width div.owl-carousel div.owl-nav {
    visibility: visible;
    position: absolute;
    top: -80px;
    right: 60px;
    background: transparent;
  }

  div.full_width div.owl-carousel div.owl-dots {
    position: absolute;
    top: -50px;
    left: 107px;
    width: 70%;
    height: 6px;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    outline-color: transparent;
  }
}